*{
    padding: 0;
    margin: 0; 
    box-sizing:   border-box;
} 
html,body{
    height:100%;    
    width:100%;
    background-color: #333;
    cursor: none;
}

main{
 height: 100%;
 width: 100%;
 background-color: #051b25;
 display: flex;
 align-items: center;
 justify-content: center;

    #cursor {
      height: 30px;
      position: fixed;
      transform: translate(-50%,-50%);
      
    } 
   h1{
    font-size: 50px;
    background-color: #444;
   }

}