
button{
    padding: 10px 20px;
    background-color: crimson;
}

h2{
    font-size: 50px;
}

// h1{
//     font-size: 40px;
// }

// button{
//     background-color: crimson;
//     padding: 10px 20px;

// }