/* ---------- Global Reset ---------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  // font-size: clamp(14px, 1vw, 18px);
}

/* ---------- Mixin ---------- */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ---------- Main Container ---------- */
main {
  height: 100%;
  width: 100%;
  gap: 1rem;

  /* ---------- Navigation Section ---------- */
  section.nav {
    width: 100%;
    padding: 1rem;
    background-color: #f4f0f0;
    color: #292929;
    display: flex;
    justify-content: space-between;

    .top {
      h1 {
        font-size: 2rem;
        font-weight: 400;
      }
    }

    .bottom {
      i {
        font-size: 2rem;
      }
    }
  }

  /* ---------- View 1 ---------- */
  section.viwe1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include flex-center();
    margin-top: 1rem;

    .top {
      width: 100%;
      padding: 1rem;
      text-align: center;

      img {
        width: 100%;
      }
    }

    .bottom {
      width: 100%;
      padding: 1rem;
      @include flex-center();
      margin-top: 1rem;
      text-align: center;

      h1 {
        font-size: 2.8rem;
        width: 70%;
      }
    }
  }

  /* ---------- Middle Section ---------- */
  section.middle {
    padding: 2rem;
    width: 100%;
    @include flex-center();
    margin-top: 3rem;
    background: linear-gradient(white, pink);

    .text {
      @include flex-center();
      width: 80%;
      text-align: center;

      h2 {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }

  /* ---------- View 2 ---------- */
  section.viwe2 {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    gap: 2rem;

    /* ---------- Image One ---------- */
    .img-one {
      .top {
        width: 100%;
        padding: 1.5rem;

        h1 {
          font-size: 2rem;
          font-weight: 700;
          padding: 1rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 500;
          opacity: 0.8;
          padding: 1rem;
        }
      }

      .bottom {
        width: 100%;

        img {
          width: 100%;
          padding: 1.5rem 2.5rem;
        }
      }
    }

    /* ---------- Image Two ---------- */
    .img-sec {
      .top {
        width: 100%;
        padding: 1.5rem;

        h2 {
          font-size: 2rem;
          font-weight: 700;
          padding: 1rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 500;
          opacity: 0.8;
          padding: 1rem;
        }
      }

      .bottom {
        width: 100%;

        img {
          width: 100%;
          padding: 1.5rem 2.5rem;
        }
      }
    }

    /* ---------- Image Three ---------- */
    .img-trd {
      .top {
        width: 100%;
        padding: 1.5rem;

        h2 {
          font-size: 2rem;
          font-weight: 700;
          padding: 1rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 500;
          opacity: 0.8;
          padding: 1rem;
        }
      }

      .bottom {
        width: 100%;
   
        img {
          width: 100%;
          padding: 1.5rem 2.5rem;
        }
      }
    }
  }
  section.viwe3{
    width:100% ;
    padding: 1rem;
    .top{
      img{
       width: 100%;
      }
    }
    .bottom{
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3{
        font-size: 1.2rem;
        font-weight: 500;
      }
      h1{
        font-size: 2.8rem;
      }
      p{
        font-size: 1rem;
        font-weight: 200;
        opacity: 0.8;
      }
     .text{
       button{
        width: fit-content;
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 50px;
        border: 1px solid rgb(30, 131, 239);
        color: rgb(30, 131, 239);
      }
      h5{
        font-size:0.8rem;
        font-weight: 700;
        text-align: center;

      }
     }
    }
  }
}

/* ---------- Responsive (Desktop) ---------- */
@media (min-width: 1400px) {
  main {
    section.nav {
      padding: 3rem 1rem;
      width: 100%;

      .top h1 {
        font-size: 2rem;
      }

      .bottom i {
        font-size: 2rem;
      }
    }

    section.viwe1 {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 2rem;

      .top,
      .bottom {
        width: 50%;
        padding: 3.5rem;
      }

      .bottom {
        h1 {
          font-size: 4.8rem;
          font-weight: 600;
          text-align: start;
        }
      }
    }

    section.middle {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 2.8rem;

      h2 {
        font-size: 3rem;
        font-weight: 550;
        width: 70%;
      }
    }

    section.viwe2 {
      display: flex;
      flex-direction: row;
      padding: 5rem;
      margin-top: 0;

      .img-one {
        .top {
          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }

      .img-sec {
        .top {
          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }

      .img-trd {
        .top {
          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }
    }
    section.viwe3{
      display: flex;
      flex-direction: row-reverse;
      padding: 6rem;
      .top,.bottom{
        width: 50%;
      }

      .bottom{
         display: flex;
        gap: 1.5rem;
         justify-content: center;
         flex-direction: column;
         padding: 5rem;

         h3{
         font-size: 2rem;
         }
         h1{
         font-size:4rem ;
         }
         p{
          font-size: 1.5rem;
         }
         .text{
          display: flex;
          flex-direction: row;
          align-items: start;
          gap: 0.5rem;
          button{
            font-size: 1.8rem;
            font-weight: 600;
          }
          h5{
            
            justify-content: center;
          }
         }
      }
    }
  }
}
