* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  background-color: #111;
  color: #fff;
}


@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/
main {
  height: 100%;
  width: 100%;

 
  section.viwe1 {
    width: 100%;
    padding: 1rem;
    @include flex-center();
    flex-direction: column;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  
  section.viwe2 {
    width: 100%;
    padding: 2.5rem;
    @include flex-center();
    flex-direction: column;

    .info-img {
      width: 100%;
      @include flex-center();
      flex-direction: column;
      gap: 2rem;

      .top {
        position: relative;
        @include flex-center();
        flex-direction: column;

        img {
          width: 100%;
          border-radius: 1rem;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
        }

       
        .bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 1rem;
          background: rgba(0, 0, 0, 0.7);
          color: #fff;
          border-radius: 0 0 1rem 1rem;
          opacity: 0;
          transform: translateY(100%);
          transition: all 0.4s ease-in-out;
        }

       
        &:hover {
          img {
            transform: scale(1.05);
            filter: brightness(0.8);
          }

          .bottom {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}


