* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #333;
    color: #222;
}

@mixin flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
    width: 100%;
    @include flexcenter();

    .card {

        width: 200px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        overflow: hidden;


        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 10px;
            border-radius: 10px;
            cursor: pointer;

        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            font-size: 40px;

            background: linear-gradient(to right bottom, rgb(201, 6, 201), rgb(239, 15, 127));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            transform: translate(-50%, -50%) scale(0) rotate(-60deg);
            transition: all cubic-bezier(.65, .1, .77, 1.44) 0.5s;
        }

        h2 {
            color: #333;
            font-size: 20px;
            text-align: center;
        }
    }
}