*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #333;
    color: #fcfcfc;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    h1{
        white-space: nowrap;
    }
    
    button{
        padding: 1.5rem 3rem;
        font-size:1.5rem ;
        border: none;
        cursor: pointer;
        border-radius: 0.5rem;
        background-color: crimson;
        color: wheat;
        position: relative;
        z-index: 9;
    }

}
button:active{
    scale: 0.95;
}