* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
 
}

main {
  height: 100%;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;


  .card {
   
    width: 280px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #000;
    text-align: center;

    img {
      height: 170px;
      width: 150px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 25px;
      white-space: nowrap;
    }
     h4 {
      margin-bottom: 10px;
      font-size: 20px;
      color: crimson;
    } 
    h5{
      margin-bottom: 10px;
        font-size: 19px;
    }
    p {
      margin-bottom: 10px;
      font-size: 17px;
    }
  }
}


