* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;

    section {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 1rem;


        .reelAll {
            width: 100%;
            height: 100%;
            background-color: #555;
            border-radius: 1.5rem;
            position: relative;

            .reel{
            width: 100%;
            height: 100%;
            background-color: #555;
            border-radius: 1.5rem;
            position: relative;

                .bottom {
                height: 15%;
                width: 100%;
                background: linear-gradient(#111, tranparent);
                position: absolute;
                bottom: 0;
                padding: 1rem;
                color: crimson;

                .user {
                    display: flex;
                    gap: 0.5rem;

                    h2 {
                        font-size: 2rem;
                    }

                    button {
                        // width: fit-content;
                        padding: 10px;
                        border-radius: 0.5rem;
                        border: 1px solid black;
                    }
                }
                p{
                    font-size: 1.5rem;
                }

            }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1.5rem;
            }
        }
    }
}