* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

html {
  color: rgb(235, 237, 240);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #111;
}

/* View 1 */
section.viwe1 {
  max-width: 2800px;
}
section.viwe1 .text h1 {
  font-size: 6rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
main section.viwe1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.viwe1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.viwe1 .bottom {
  background-color: #292929;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-radius: 1rem;
}
main section.viwe1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.viwe1 .bottom .text h1 {
  font-size: 2.33rem;
  font-weight: 100;
  text-transform: uppercase;
}
main section.viwe1 .bottom .text p {
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.7rem;
}
main section.viwe1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  background-color: #333;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main section.viwe1 .bottom .text button:hover {
  background-color: #444;
}
main section.viwe4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.viwe4 .top img {
  width: 100%;
  border-radius: 0.9rem;
}
main section.viwe4 .bottom {
  background-color: #292929;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-radius: 1rem;
}
main section.viwe4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.viwe4 .bottom .text h1 {
  font-size: 2.33rem;
  font-weight: 100;
  text-transform: uppercase;
}
main section.viwe4 .bottom .text p {
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.7rem;
}
main section.viwe4 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  background-color: #333;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main section.viwe4 .bottom .text button:hover {
  background-color: #444;
}
main section.viwe5 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}
main section.viwe5 .top h1 {
  font-weight: 300;
}
main section.viwe5 .bottom button {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 300;
}
main section.viwe6 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
main section.viwe6 .card1 {
  border-radius: 1rem;
  width: 100%;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.viwe6 .card1 .icon, main section.viwe6 .card1 .bottom {
  background-color: rgba(48, 43, 43, 0.375);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 0.33rem;
  padding: 0.5rem;
}
main section.viwe6 .card1 .top {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.viwe6 .card1 icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.viwe6 .card1 .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
main section.viwe6 .card1 .bottom p {
  text-transform: uppercase;
  padding: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
}
main section.viwe6 .card2 {
  border-radius: 1rem;
  width: 100%;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp");
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.viwe6 .card2 .icon, main section.viwe6 .card2 .bottom {
  background-color: rgba(48, 43, 43, 0.375);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 0.33rem;
  padding: 0.5rem;
}
main section.viwe6 .card2 .top {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.viwe6 .card2 icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.viwe6 .card2 .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
main section.viwe6 .card2 .bottom p {
  text-transform: uppercase;
  padding: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
}
main section.viwe6 .card3 {
  border-radius: 1rem;
  width: 100%;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp");
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.viwe6 .card3 .icon, main section.viwe6 .card3 .bottom {
  background-color: rgba(48, 43, 43, 0.375);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 0.33rem;
  padding: 0.5rem;
}
main section.viwe6 .card3 .top {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.viwe6 .card3 icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.viwe6 .card3 .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
main section.viwe6 .card3 .bottom p {
  text-transform: uppercase;
  padding: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
}
main section.viwe7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.viwe7 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.viwe7 .bottom {
  background-color: #292929;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-radius: 1rem;
}
main section.viwe7 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.viwe7 .bottom .text h1 {
  font-size: 2.33rem;
  font-weight: 100;
  text-transform: uppercase;
}
main section.viwe7 .bottom .text p {
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.7rem;
}
main section.viwe7 .bottom button {
  display: flex;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  color: #fff;
  background-color: transparent;
  border: none;
}

/* View 2 */
section.viwe2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
section.viwe2 .top,
section.viwe2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
section.viwe2 .top .element,
section.viwe2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
section.viwe2 .top .element small,
section.viwe2 .bottom .element small {
  opacity: 0.6;
}
section.viwe2 .top .element h2,
section.viwe2 .bottom .element h2 {
  font-size: 3rem;
  font-weight: 300;
}

/* View 3 */
section.viwe3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.viwe3 .top img {
  width: 100%;
  border-radius: 1rem;
}
section.viwe3 .bottom {
  background-color: #292929;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-radius: 1rem;
}
section.viwe3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
section.viwe3 .bottom .text h1 {
  font-size: 2.33rem;
  font-weight: 100;
}
section.viwe3 .bottom .para {
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.7rem;
}
section.viwe3 .bottom > p {
  text-transform: uppercase;
}

/* Responsive */
@media (min-width: 900px) {
  main section.viwe1 {
    flex-direction: row;
    padding: 1rem 3rem;
  }
  main section.viwe1 .top,
  main section.viwe1 .bottom {
    width: 50%;
  }
  main section.viwe1 .bottom {
    justify-content: space-between;
    padding: 2rem;
  }
  main section.viwe1 .bottom .text {
    gap: 1rem;
  }
  main section.viwe1 .bottom .text h1 {
    font-size: 2.5rem;
  }
  main section.viwe1 .bottom .text p {
    width: 60%;
    font-size: 1rem;
  }
  main section.viwe2 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.viwe3 {
    flex-direction: row-reverse;
  }
  main section.viwe3 .top,
  main section.viwe3 .bottom {
    width: 50%;
  }
  main section.viwe3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.viwe3 .bottom .para {
    display: flex;
    gap: 2rem;
  }
  main section.viwe3 .bottom .para p {
    font-size: 1rem;
  }
  main section.viwe4 {
    flex-direction: row;
  }
  main section.viwe4 .top,
  main section.viwe4 .bottom {
    width: 50%;
  }
  main section.viwe4 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.viwe4 .bottom .para {
    display: flex;
    gap: 2rem;
  }
  main section.viwe4 .bottom .para p {
    font-size: 1rem;
  }
  main section.viwe5 {
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem;
  }
  main section.viwe5 .bottom button {
    font-size: 1rem;
  }
  main section.viwe6 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.viwe6 .card {
    width: 30%;
    aspect-ratio: 1/1.2;
  }
  main section.viwe7 {
    flex-direction: row;
    padding: 1rem 3rem;
  }
  main section.viwe7 .top, main section.viwe7 .bottom {
    width: 50%;
  }
  main section.viwe7 .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main section.viwe7 .top .text {
    gap: 1rem;
  }
  main section.viwe7 .bottom {
    justify-content: space-between;
    padding: 2rem;
  }
  main section.viwe7 .bottom p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=studio.css.map */