*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
  
}

main{
    height: 100%;
    width: 100%;
    background-color: #111111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section{
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
    color: black;
    background-color: cadetblue;
}

h1{
    font-size: 40px;
}
h3{
    font-size: 18px;
}
h2{
    font-size: 20px;
}
h4{
    font-size: 20px;
}

button{
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    background-color: crimson;
    font-size: 20px;
    cursor: pointer;
    

}

button:active{
    scale: 0.95;
    cursor: progress;
    
}