* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(5, 9, 24);
    color: aliceblue;
}

// Mixin
@mixin flexcenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer {
    padding: 2rem;
    height: 100%;
    width: 100%;
    @include flexcenter();
    flex-direction: column;
    gap: 0.5rem;

    .inner {
        padding: 1rem;
        height: 20%;
        width: 50%;
        background: linear-gradient(rgb(52, 175, 151), rgb(13, 3, 65));
        color: black;
        @include flexcenter();
        gap: 3rem;
        

        img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
        }

        button {
            padding: 0.5rem 1.5rem;
            font-size: 0.8rem;
            border-radius: 50px;
            border: none;
            background: linear-gradient(pink, purple);
            color: white;
            cursor: pointer;
            transition: 0.2s ease;
        }

        button:active {
            transform: scale(0.95);
        }
    }
}

// Responsive
@media (max-width: 408px) {
    .outer .inner {
        width: 90%;
    }
}
